<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{ asset('build/style.css') }}" rel="stylesheet"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}">
    <script src="{{ asset('build/main.js') }}"></script>
</head>
<body>
{% block body %}
    {% block nav %}
        <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ path('main') }}">
                    POTATO 🥔
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                   data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                        <span class="icon-text">
                          <span class="icon">
                            <i class="fas fa-carrot"></i>
                          </span>
                          <span>Ingredients</span>
                        </span>
                    </a>
                    <a class="navbar-item">
                        <span class="icon-text">
                          <span class="icon">
                            <i class="fas fa-bowl-rice"></i>
                          </span>
                          <span>Meals</span>
                        </span>
                    </a>
                    <a class="navbar-item">
                        <span class="icon-text">
                          <span class="icon">
                            <i class="fas fa-calendar"></i>
                          </span>
                          <span>Calendar</span>
                        </span>
                    </a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-light" href="{{ path('logout') }}">
                                Log out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    {% endblock %}
    <section class="section">
        <div class="container is-mobile">
            {% block content %}{% endblock %}
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Potato 2022
            </p>
        </div>
    </footer>
{% endblock %}
</body>
</html>
